<div class="admin-container-home">
    <div class = "header">
        <ul>
            <li><a href="/cadastraPlaylist">Criar nova playlist</a></li>
        </ul>

      <p class="paragrafo" style="font-size: 30px; font-weight: bold; text-align: left;">Suas playlists</p>
      <table class="tabela-playlists" id="tabelaPlaylists">
        <tr *ngFor="let playlist of playlists">
          <td (click)="redirecionaTelaPlaylist(playlist.id)"><img src="{{playlist.url_foto_playlist}}"><br>{{playlist.titulo}}<br><span class="privacidade">{{playlist.privacidade}}</span></td>
        </tr>
      </table>
      <p class="paragrafo" style="font-size: 30px; font-weight: bold;">Playlists seguidas por você</p>
      <table class="tabela-playlists" id="tabelaPlaylists">
        <tr>
          <td *ngFor="let playlist of playlistsSeguidas"><img src="{{playlist.url_foto_playlist}}"><br>{{playlist.titulo}}<br><span class="categoria">{{playlist.categoria}}</span></td>
        </tr>
      </table>
    </div>

    <br>
    <br>
    <br>
</div>

