<div class="admin-container-home">
    <div class = "header">
        <ul>
            <li>Criar nova playlist</li>
        </ul>

      <p class="paragrafo" style="font-size: 30px; font-weight: bold;">Suas playlists</p>
      <table class="tabela-playlists" id="tabelaPlaylists">
        <tr>
          <td><img src="./../../assets/playlist1Capa.png"><br>Antigas da Rihanna<br><span class="privacidade">Pública</span></td>
          <td><img src="./../../assets/playlist2Capa.png"><br>Favs<br><span class="privacidade">Privada</span></td>
          <td><img src="./../../assets/playlist3Capa.jpg"><br>Favs da taylor<br><span class="privacidade">Privada</span></td>
          <td><img src="./../../assets/playlist4Capa.png"><br>Hits<br><span class="privacidade">Pública</span></td>
        </tr>
      </table>
      <ul>
        <li>
            Mostrar todos
        </li>
      </ul>
      <p class="paragrafo" style="font-size: 30px; font-weight: bold;">Playlists seguidas por você</p>
      <table class="tabela-playlists" id="tabelaPlaylists">
        <tr>
          <td><img src="./../../assets/playlistTreinoCategoria.jpg"><br>Músicas para treinar<br><span class="categoria">Treino</span></td>
        </tr>
      </table>
      <ul>
        <li>
            Mostrar todos
        </li>
      </ul>
</div>