<mat-card>
    <mat-card-header>
        <h1>Adicionar novo Usuário</h1>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="registerform" (ngSubmit)="adduser()">


            <div>

                <mat-form-field class="wrap-input100 validate-input">
                    <mat-label>Usuário</mat-label>
                    <input class="input100" matInput formControlName="id">
                </mat-form-field>

                <mat-form-field class="wrap-input100 validate-input">
                    <mat-label>Nome</mat-label>
                    <input class="input100" matInput formControlName="name">
                </mat-form-field>

                <mat-form-field class="wrap-input100 validate-input">
                    <mat-label>Senha</mat-label>
                    <input class="input100" type="password" matInput formControlName="password">
                </mat-form-field>

                <mat-form-field class="wrap-input100 validate-input">
                    <mat-label>Email</mat-label>
                    <input class="input100" matInput formControlName="email">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Tipo de Usuário</mat-label>
                    <mat-select formControlName="role">
                        <mat-option value="">Selecione o Cargo</mat-option>
                        <mat-option *ngFor="let item of rolelist" [value]="item.code">
                          {{item.name}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
    
                <div>
                    <mat-checkbox formControlName="isactive" class="example-margin">Ativo</mat-checkbox>
                </div>
            </div>

            <div>
                <button mat-raised-button color="primary">Adicionar</button>
                <a mat-dialog-close mat-raised-button color="accent">Fechar</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>