<div class="content-cadastrar">
    <h1>Cadastrar novo artista</h1>
    <table>
       <tr>
          <td><input id="artista-nome" [(ngModel)]="artista.nome" placeholder="Digite aqui o nome do artista"></td>
       </tr>
       <br>
       <tr>
          <td><input id="artista-genero_musical" [(ngModel)]="artista.genero_musical" placeholder="Digite aqui o gênero musical desse artista"></td>
       </tr>
       <br>
       <tr>
          <td><input id="artista-url_foto_artista" [(ngModel)]="artista.url_foto_artista" placeholder="Digite aqui uma url de uma foto do artista"></td>
       </tr>
    </table>
    <div class="content-cadastrar-buttons">
       <button id="register-artista" (click)="createArtista(artista)">Cancelar</button>
       <button id="register-artista" (click)="createArtista(artista)">Adicionar</button>
    </div>
 </div>