<div class="admin-container-home">
    <div class = "header">
    <div class="circle">
      <img src="./../../assets/daniellFotoPerfil.jpg" alt="Minha imagem">
    </div>
    <div class="container">
      <p style="font-size: 30px;">Romulo Daniell</p>
    </div>
    </div>
    <ul>
      <li><a routerLink="/userEdit" ><button>Editar Perfil</button></a></li>
    </ul>
    
      
    
    <p class="paragrafo" style="font-size: 20px;">Últimos 7 dias</p>

    <p class="paragrafo" style="font-size: 30px; font-weight: bold;">Últimas músicas reproduzidas</p>
    <div class="tableGeral">
      
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th># Título</th>
            <th># Artista</th>
            <th># Álbum</th>
          </tr>
        </thead>
        <tbody>            
          <tr class="cor-diferente">
            <td class="album-capa">
              <img src="./../../assets/evermore.jpg" alt="">
            </td>
            <td>
              <p>
                right Where You Left Me
              </p> 
            </td>
            <td>Taylor Swift</td>
            <td>evermore (deluxe)</td>
          </tr>
          <tr>
            <td class="album-capa">
              <img src="./../../assets/anti.jpg" alt="">
            </td>
            <td>Kiss It Better</td>
            <td>Rihanna</td>
            <td>ANTi (Deluxe)</td>
          </tr>
          <tr class="cor-diferente">
            <td class="album-capa">
              <img src="./../../assets/calmDown.jpg" alt="">
            </td>
            <td>
              <p>
                Calm Down
              </p> 
            </td>
            <td>Rema e Selena Gomez</td>
            <td>Calm Down</td>
          </tr>
          <tr>
            <td class="album-capa">
              <img src="./../../assets/onAndOn.jpg" alt="">
            </td>
            <td>On & On (Feat. Daniel)</td>
            <td>Cartoon</td>
            <td>On & On</td>
          </tr>
          <tr class="cor-diferente">
            <td class="album-capa">
              <img src="./../../assets/django.png" alt="">
            </td>
            <td>
              <p>
                Default
              </p> 
            </td>
            <td>Django</td>
            <td>Django</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ul>
        <li>
            Mostrar Mais
        </li>
      </ul> 
</div>