<div class="admin-container-home">
    <div class = "header">

      <p class="paragrafo" style="font-size: 30px; font-weight: bold;">Ouça Novamente</p>
      <table class="tabela-albuns" id="tabelaAlbum">
        <tr>
          <td><img src="./../../assets/calmDown.jpg"><br>Calm Down<br><span class="ano-lancamento">Rema & Selena Gomez</span></td>
          <td><img src="./../../assets/anti.jpg"><br>Kiss It Better<br><span class="ano-lancamento">Rihanna</span></td>
          <td><img src="./../../assets/evermore.jpg"><br>right where you left me<br><span class="ano-lancamento">Taylor Swift</span></td>
          <td><img src="./../../assets/onAndOn.jpg"><br>On & On (Ft. Daniel)<br><span class="ano-lancamento">Cartoon</span></td>
          <td><img src="./../../assets/tttCapa.jpg"><br>We Found Love (Ft. Calvin Harris)<br><span class="ano-lancamento">Rihanna</span></td>
        </tr>
      </table>
      <ul>
        <li>
            Mostrar todos
        </li>
      </ul>
      <p class="paragrafo" style="font-size: 30px; font-weight: bold;">Playlists</p>
      <table class="tabela-albuns" id="tabelaAlbum">
        <tr>
          <td><img src="./../../assets/playlist1Capa.png"><br>Favoritas da Rihanna<br><span class="ano-lancamento">1h de duração</span></td>
          <td><img src="./../../assets/playlist2Capa.png"><br>Salmos<br><span class="ano-lancamento">5h de duração</span></td>
          <td><img src="./../../assets/playlist3Capa.jpg"><br>Taylor feia<br><span class="ano-lancamento">5h de duração</span></td>
          <td><img src="./../../assets/playlist4Capa.png"><br>Favs<br><span class="ano-lancamento">1h de duração</span></td>
        </tr>
      </table>
      <ul>
        <li routerLink="/bibliotecaUsuario">Mostrar todos</li>
      </ul>
     </div>