.circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    grid-column-start: 1;
    margin-left: 3rem;
  }
  
  .circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  ul {
    list-style: none;
    padding: 8px 0;
  }
  
  li {
    display: inline-block;
    width: 205.99px;
    padding: 8px 0;
    color: white;
    border-radius: 12px;
    text-align: center;
    margin-right: 20px;
  }
  
  #titlepage{
    width: 200px;
    height: 200px;
    color: white;
    grid-column-start: 4;
  }
  

  #container {
    top: 150px;
    left: 300px;
    grid-column-start: 2;
  }
  
  .search-box {
    background-color: #333;
    height: 45%;
    padding: 5px;
    border-radius: 5px;
    margin: 20px auto;
    width: 50%;
    display: flex;
    justify-content: center;
    grid-row-start: 1;
  }

  .search-box input[type="text"] {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px;
    width: 80%;
    border-radius: 5px 0 0 5px;
  }

  .search-box button[type="submit"] {
    background-color: #555;
    border: none;
    color: #fff;
    padding: 10px;
    width: 20%;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .paragrafo {
    margin-top: 30px;
    margin-left: 0px;
    color: white
  }
  
  .header {
    display: grid;
    grid-row-start: 1;
    flex-direction: row;
    align-items: center;
    grid-template-columns: 10% 10% 20% 20% 20% 20% ;
  }
  
  .tableGeral{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    color: white;
  }
  
  .trash-button{
    background-color: transparent;
    border: none;
    cursor:pointer;
    outline: none;
    padding: 0;
    margin: 0;
  }



  table {
    width: 80%;
    border-spacing: 0px;
  }
  tbody{
    border-radius: 10px;
  }
  td {
    text-align: center;
  }
  
  tr.cor-diferente {
    background-color: #4C4C4F;
  }
  
  tbody{
    background-color: #393939;
  }

  
  tr{
    height: 1rem;
  }
  
  td img{
    height: 3rem;
    width: 3rem;
    
  }
  
  td.album-capa {
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  td.album-capa img{
    border-radius: 50%;
  }
  #container p:last-child{
    font-size: 20px;

    color: white;
    white-space: nowrap;
    }
  #container {
    float: left;
  }
    
  #titlepage {
    text-align: center;
    margin: 0 auto;
  }



body{
    background-color: #1F1F1F;
    min-height: 100%;

}

html{
    height: 100%;
}

.actions-selection :hover {
  text-decoration: underline;
}

.actions-selection{
  text-align: center;
  grid-row-start: 2;
}

.actions{
  display: grid;
  grid-template-rows: 40% 60%;
  grid-row-start: 2;
}

.header-page{
  display: grid;
  grid-template-rows: 40% 60%;

}