<div class="admin-container-home">
  <div class = "header">
  <div class="circle">
    <img src="{{playlist.url_foto_playlist}}" alt="Minha imagem">
  </div>
  <div class="container">
    <p style="font-size: 30px;">{{playlist.titulo}}</p>
    <h2 class="informacoesPlaylist">{{playlist.categoria}}<br>{{playlist.privacidade}}</h2>
  </div>
  </div>
  <ul>
    <li [ngStyle]="{'display': isDonoPlaylist ? 'block' : 'none' }" (click)="editarPlaylist(playlist.id)">Editar Informações</li>
    <li [ngStyle]="{'display': isDonoPlaylist ? 'block' : 'none' }" (click)="deletePlaylist(playlist.id)">Remover playlist</li>
    <li [ngStyle]="{'display': isDonoPlaylist ? 'none' : 'block' }">
      <button *ngIf="seguir" (click)="toggleSeguir()">Seguir Playlist</button>
      <button *ngIf="!seguir" (click)="toggleSeguir()">Deixar de Seguir Playlist</button>
    </li>
    <li [ngStyle]="{'display': isDonoPlaylist ? 'block' : 'none' }">
      <button (click)="handleClick()">Clique aqui para pegar o link de compartilhamento</button>
    </li>
  </ul>

  <br>

  <div div class="pesquisa-playlist">
  <form action="#" method="get">
      <input type="text" id="pesquisar-coisas" placeholder="Pesquisar músicas...">
      <button type="submit" (click)="pesquisar()">Buscar</button>
  </form>
  </div>
  <br>
  <div class="tableGeral">
    
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th># Título</th>
          <th># Artista</th>
          <th># Álbum</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>            
        <tr class="cor-diferente" *ngFor="let musica of musicas; let i = index">
          <td class="album-capa">
            <img src="{{musica.capaAlbum}}" alt="{{musica.titulo}}">
          </td>
          <td>{{musica.titulo}}</td>
          <td>{{musica.artistaNome}}</td>
          <td>{{musica.tituloAlbum}}</td>
          <td class="opcoes-header">
            <div class="opcoes-wrapper">
              <div class="dropdown">
                <button class="dropbtn"><span class="material-icons">more_vert</span></button>
                <div class="dropdown-content">
                  <p (click)="cadastraMusicaPlaylist(musica.id)"><span class="material-icons">playlist_add</span>Adicionar a uma playlist</p>
                  <p (click)="removerMusicaPlaylist(playlist.id, musica.id)"><span class="material-icons"> playlist_remove</span>Remover música da playlist</p>
                  <p (click)="editarMusica(musica.id)"><span class="material-icons">edit_note</span>Editar informações</p>
                  <p (click)="irParaAlbum(musica.albumId)"><span class="material-icons">album</span>Ir para o álbum</p>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>