<html>
    <body>
        <nav class="barra-de-inicio" *ngIf="ismenurequired" role="banner">
            <ul>
                <li class="circulo-foto">
                    <img src="./../../assets/taylor.png" alt="Foto de perfil">
                </li>
                <li><a routerLink="/initial-page">Home</a></li>
                <li [ngClass]="{'hide-item': !isuser}"><a routerLink="/user">Perfil</a></li>
                <li [ngClass]="{'hide-item': !isuser}"><a *ngIf="isuser" routerLink="/playlistsCategoria">Playlists</a></li>
                <li [ngClass]="{'hide-item': !isuser}"><a *ngIf="isuser" routerLink="/bibliotecaUsuario">Biblioteca</a></li>
                <li [ngClass]="{'hide-item': !isuser}"><a *ngIf="isuser" routerLink="/Histórico">Histórico</a></li>
                <li [ngClass]="{'hide-item': !isadminuser}"><a *ngIf="isadminuser" routerLink="/playlistsCategoriaAdmin">Playlists</a></li>
                <li [ngClass]="{'hide-item': !isadminuser}"><a *ngIf="isadminuser" routerLink="/userAdmin">Admin</a></li>
                <li>
                    <form action="#" method="get">
                        <input type="text" name="q" placeholder="Pesquisar músicas, artistas, álbuns...">
                        <button type="submit">Buscar</button>
                    </form>
                    </li>
                <li class="logout-item"><a routerLink="/login">Logout</a></li>
            </ul>
        </nav>
        <router-outlet></router-outlet>
    </body>
</html>
