<html>

    <nav>
        <body>

            <div class="barra-de-inicio" *ngIf="ismenurequired" role="banner">
                <ul>
                    <li class="circulo-foto">
                        <img src="./../../assets/taylor.png" alt="Foto de perfil">
                    </li>
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="/user">Usuario</a></li>
                    <li><a *ngIf="isadminuser" routerLink="/userAdmin">Admin</a></li>
                    <li><a routerLink="/cadastrar-musicas">Cadastrar Musica</a></li>
                    <li><a routerLink="/lista-musicas">Lista Musica</a></li>
                    <li>
                        <form action="#" method="get">
                          <input type="text" name="q" placeholder="Pesquisar músicas, artistas, álbuns...">
                          <button type="submit">Buscar</button>
                        </form>
                      </li>
                    <ul><li class="logout-item"><a routerLink="/login">Logout</a></li></ul>
                    
    
                </ul>

                
            </div>
            <router-outlet></router-outlet>
        </body>
    </nav>
</html>
