body {
    padding: 3rem 5rem;
    overflow-x: hidden;
    color: white;
    background-color: rgba(0, 0, 0, 0.878);
}

.circulo-foto {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .circulo-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-right: 20px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .barra-de-inicio {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
  }

  .barra-de-inicio ul {
    margin-left: auto;
  }
 

  .barra-de-inicio form {
    display: flex;
    align-items: center;
  }
  
  .barra-de-inicio input[type="text"],
  .barra-de-inicio button {
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .barra-de-inicio input[type="text"] {
    background-color: black;
    color: white;
  }
  
  .barra-de-inicio button {
    background-color: grey;
    color: white;
    margin-left: 10px;
  }

  input[type="text"] {
    width: 400px;
    vertical-align: middle
  }