<div class="admin-container-home">
    <div class = "header">
        <ul>
          <li><a href="/cadastraPlaylist">Criar nova playlist</a></li>
        </ul>

      <p class="paragrafo" style="font-size: 30px; font-weight: bold;">Playlists Pop</p>         
      <table class="tabela-playlists" id="tabelaPlaylists">
        <tr>
          <td><img src="./../../assets/gagaNostalgia.png"><br>Nostalgia Pop<br><span class="categoria">Pop</span></td>
          <td><img src="./../../assets/taylorPopHits.png"><br>Pop Hits<br><span class="categoria">Pop</span></td>
          <td><img src="./../../assets/oliviaTeenPop.png"><br>Pop Teen<br><span class="categoria">Pop</span></td>
          <td><img src="./../../assets/luisaPopBR.png"><br>Pop BR<br><span class="categoria">Pop</span></td>
        </tr>
      </table>
      <ul>
        <li>
            Mostrar todos
        </li>
      </ul>
      <p class="paragrafo" style="font-size: 30px; font-weight: bold;">Playlists de Treino</p>
      <table class="tabela-playlists" id="tabelaPlaylists">
        <tr>
          <td *ngFor="let playlist of playlists"><img src="{{playlist.url_foto_playlist}}" (click)="redirecionaTelaPlaylist(playlist.id)"><br>{{playlist.titulo}}<br><span class="categoria">{{playlist.categoria}}</span></td>
        </tr>
      </table>
      <ul>
        <li>
            Mostrar todos
        </li>
      </ul>
     
    <!-- <p class="paragrafo" style="font-size: 25px; font-weight: bold;"><br>Últimas álbuns acessados</p> -->
</div>