<div class="user-container-home">
  <div class="header">
    <div class="circle">
      <img src="./../../assets/usuarioSemFoto.png" alt="Minha imagem">
    </div>
    <div class="container">
      <p style="font-size: 30px;">{{user.name}}</p>
    </div>
  </div>



  <ul>
    <p class="paragrafo" style="font-size: 30px; font-weight: bold;">User</p>
    <!-- <input type="informacoes" id="informacoes" name="email" value="Romulo Daniell" readonly> -->
    <p class="tipo-input">{{user.id}}</p>
    <!-- <li><button type="button" id="botos-informacoes">Editar</button></li><br> -->

    <p class="paragrafo" style="font-size: 30px; font-weight: bold;">Nome</p>
    <!-- <input type="informacoes" id="informacoes" name="email" value="Romulo Daniell" readonly> -->
    <p class="tipo-input">{{user.name}}</p>
    <!-- <li><button type="button" id="botos-informacoes">Editar</button></li><br> -->


    <p class="paragrafo" style="font-size: 30px; font-weight: bold;">E-mail</p>
    <p class="tipo-input">{{user.email}}</p>
    
    <!-- <li><button type="button" id="botos-informacoes">Editar</button></li> -->

    <!-- <p class="paragrafo" style="font-size: 30px; font-weight: bold;">Senha</p>
    <input type="informacoes" id="informacoes" name="email" value="************" readonly>
    <li><button type="button" id="botos-informacoes">Editar</button></li> -->
  </ul>

  <ul>
    <li><button (click)="AlterarSenha(user.id)" type="button" id="botao-alterarsenha">Alterar Senha</button></li>
    <li><button (click)="UserSeDeleta(user.id)" type="button" id="botao-deletarPerfil">Deletar Perfil</button></li>
  </ul>