<div class="admin-container-home">
    <div class = "header">
    <div class="circle">
      <img src="{{artistaUrlFoto}}" alt="Minha imagem">
    </div>
    <div class="container">
      <p style="font-size: 30px;">{{artistaNome}}</p>
      <h2 class="informacoesArtista">Artista<br>{{artistaGeneroMusical}}</h2>
    </div>
    </div>
    <ul>
        <li>Editar Informações</li>
      <li><a routerLink="/cadastrar-musicas" ><button>Cadastrar Álbuns</button></a></li>
    </ul>
    <p class="paragrafo" style="font-size: 30px; font-weight: bold;">Músicas</p>
    <div class="tableMusicas">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th># Título</th>
            <th># Artista</th>
            <th># Álbum</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let musica of musicas; let i = index">
            <tr [ngClass]="{ 'cor-diferente': i % 2 == 0 }" *ngIf="i < 5">
              <td class="album-capa">
                <img src="{{musica.capaAlbum}}" alt="">
              </td>
              <td>
                <p>{{musica.titulo}}</p>
              </td>
              <td>{{artistaNome}}</td>
              <td>{{musica.titulo}}</td>
              <td class="opcoes-header">
                <div class="opcoes-wrapper">
                  <div class="dropdown">
                    <button class="dropbtn"><span class="material-icons">more_vert</span></button>
                    <div class="dropdown-content">
                      <a href="#"><span class="material-icons">playlist_add</span>Adicionar a uma playlist</a>
                      <a href="#"><span class="material-icons">edit_note</span>Editar informações</a>
                      <a href="#"><span class="material-icons">playlist_remove</span>Remover música</a>
                      <a href="#"><span class="material-icons">album</span>Ir para o álbum</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>          
        </tbody>        
      </table>
    </div>
    <ul>
        <li>
            Mostrar Mais
        </li>
      </ul>
      <p class="paragrafo" style="font-size: 30px; font-weight: bold;">Álbuns</p>
      <table class="tabela-albuns" id="tabelaAlbum">
        <tr>
          <td *ngFor="let album of albums"><a [routerLink]="[artistaId, album.id, 'cadastrar-musica']"><img src="{{album.url_foto_album}}"></a><br>{{album.nome}}<br><span class="ano-lancamento">{{album.ano_lancamento}}</span></td>
        </tr>
      </table>
      <ul>
        <li>
            Mostrar todos
        </li>
      </ul>
    </div>