<div class="admin-container-home">
    <div class = "header">
    <div class="circle">
      <img src="../../assets/playlistTreino.png" alt="Minha imagem">
    </div>
    <div class="container">
      <p style="font-size: 30px;">Músicas para treinar</p>
      <h2 class="informacoesPlaylist">Treino<br>Pública</h2>
    </div>
    </div>
    <ul>
        <li>Tocar</li>
        <li>Seguir</li>
      <li>Compartilhar</li>
    </ul>

    <br>

    <div div class="pesquisa-playlist">
    <form action="#" method="get">
        <input type="text" name="q" placeholder="Pesquisar músicas...">
        <button type="submit">Buscar</button>
    </form>
    </div>
    <br>
    <div class="tableGeral">
      
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th># Título</th>
            <th># Artista</th>
            <th># Álbum</th>
          </tr>
        </thead>
        <tbody>            
          <tr class="cor-diferente">
            <td class="album-capa">
              <img src="./../../assets/hotlineBlingCapa.png" alt="">
            </td>
            <td>
              <p>
                Hotline Bling
              </p> 
            </td>
            <td>Drake</td>
            <td>Hotline Bling</td>
          </tr>
          <tr>
            <td class="album-capa">
              <img src="./../../assets/pharmacyCapa.png" alt="">
            </td>
            <td>Runaway (U & I)</td>
            <td>Galantis</td>
            <td>Pharmacy</td>
          </tr>
          <tr class="cor-diferente">
            <td class="album-capa">
              <img src="./../../assets/dnceCapa.png" alt="">
            </td>
            <td>
              <p>
                Cake By The Ocean
              </p> 
            </td>
            <td>DNCE/td>
            <td>DNCE</td>
          </tr>
          <tr>
            <td class="album-capa">
              <img src="./../../assets/sugarCapa.jpg" alt="">
            </td>
            <td>Sugar (Feat. Francesco Yates)</td>
            <td>Robin Schulz</td>
            <td>Sugar</td>
          </tr>
          <tr class="cor-diferente">
            <td class="album-capa">
              <img src="./../../assets/futureNostalgiaCapa.jpg" alt="">
            </td>
            <td>
              <p>
                Physical
              </p> 
            </td>
            <td>Dua Lipa</td>
            <td>Future Nostalgia</td>
          </tr>
          <tr>
            <td class="album-capa">
              <img src="./../../assets/highJesper.jpg" alt="">
            </td>
            <td>High</td>
            <td>Jesper Jenset</td>
            <td>High</td>
          </tr>
        </tbody>
      </table>
    </div>