<div class="admin-container-home">
    <div class = "header">
    <div class="circle">
      <img src="../../assets/taylor.png" alt="Minha imagem">
    </div>
    <div class="container">
      <p style="font-size: 30px;">Administradora Swift</p>
    </div>
    </div>
    <ul>
        <li><a routerLink="/lista-usuarios" ><button>Visualizar Usuários</button></a></li>
      <li>Visualizar Músicas</li> <li>Visualizar Artistas</li>
    </ul>
    <p class="paragrafo" style="font-size: 30px; font-weight: bold;">Artistas Cadastrados</p>
    <div class="tableGeral">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th># Título</th>
            <th># Ano Lançamento</th>
            <th># Cadastrar Album</th>
            <th># Visualizar Artista</th>
          </tr>
        </thead>
        <tbody>            
            <tr class="cor-diferente" *ngFor="let artista of artistas">
                <td class="album-capa">
                    <img src="{{artista.url_foto_artista}}" alt="">
                </td>
                <td>
                    <p>{{artista.nome}}</p> 
                </td>
                <td>{{artista.genero_musical}}</td>
                <td><a [routerLink]="[artista.id, 'cadastrar-album']"><button>Cadastrar Novo Album</button></a></td>
                <td><a [routerLink]="[artista.id, artista.nome, artista.genero_musical, artista.url_foto_artista, 'artistaAdmin']"><button>Visualizar Artista</button></a></td>
            </tr>
        </tbody>
      </table>
    </div>
</div>