<div class="admin-container-home">
    <p class="paragrafo" style="font-size: 30px; font-weight: bold;">Suas Playlists</p>
    <div class="tableGeral">
      
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th># Título</th>
            <th># Privacidade</th>
          </tr>
        </thead>
        <tbody>            
          <tr class="cor-diferente">
            <td class="album-capa">
              <img src="./../../assets/playlist1Capa.png" alt="">
            </td>
            <td>Antigas da Rihanna</td>
            <td>Prública</td>
            <td class="opcoes-header">
              <div class="opcoes-wrapper">
                <div class="dropdown">
                  <button class="dropbtn"><span class="material-icons">add</span></button>
                </div>
              </div>
          </tr>
          <tr>
            <td class="album-capa">
              <img src="./../../assets/playlist2Capa.png" alt="">
            </td>
            <td>Músicas favs</td>
            <td>Pública</td>
            <td class="opcoes-header">
              <div class="opcoes-wrapper">
                <div class="dropdown">
                  <button class="dropbtn"><span class="material-icons">add</span></button>
                </div>
              </div>
          </tr>
        </tbody>
      </table>
    </div>
</div>