<div class="admin-container-home">
    <p class="paragrafo" style="font-size: 30px; font-weight: bold;">Suas Playlists</p>
    <div class="tableGeral">
      
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th># Título</th>
            <th># Privacidade</th>
          </tr>
        </thead>
        <tbody>            
          <tr class="cor-diferente" *ngFor="let playlist of playlists; let i = index">
            <td class="album-capa">
              <img src="{{playlist.url_foto_playlist}}" alt="{{playlist.titulo}}">
            </td>
            <td>{{playlist.titulo}}</td>
            <td>{{playlist.privacidade}}</td>
            <td class="opcoes-header">
              <div class="opcoes-wrapper">
                <div class="dropdown">
                  <button class="dropbtn" (click)="cadastraMusicaPlaylist(playlist.id)"><span class="material-icons">add</span></button>
                </div>
              </div>
          </tr>
        </tbody>
      </table>
    </div>
</div>