<div class="content-cadastrar">
    <h1>Cadastrar novo album</h1>
    <table>
       <tr>
          <td><input id="album-nome" [(ngModel)]="album.nome" placeholder="Digite aqui o nome do album"></td>
       </tr>
       <br>
       <tr>
          <td><input id="album-ano_lancamento" type="number" [(ngModel)]="album.ano_lancamento" placeholder="Digite aqui o ano de lançamento desse album"></td>
       </tr>
       <br>
       <tr>
          <td><input id="album-url_foto_album" [(ngModel)]="album.url_foto_album" placeholder="Digite aqui uma url da foto desse album"></td>
       </tr>
    </table>
    <div class="content-cadastrar-buttons">
       <button id="register-album" (click)="createAlbum()">Cancelar</button>
       <button id="register-album" (click)="createAlbum()">Adicionar</button>
    </div>
 </div>