footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-rows: 30% 70%;
  }
  
  .player-controls button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    grid-row-start: 2;
  }

    .btnplayer{
        background-color: transparent;
        height: 50%;

    }

.infomusica{
    display: flex;
    text-align: center;
    justify-content: center;
}
