<div class="admin-container-home">
<div class = "header">
  <div class="square">
    <img src="{{album.url_foto_album}}" alt="Minha imagem">
  </div>
  <div class="container">
    <p style="font-size: 30px;">{{album.nome}}</p>
    <h2 class="informacoesAlbum">{{album.artistaNome}}<br>Álbum - {{album.ano_lancamento}}<br>{{musicas.length}} músicas</h2>
  </div>
</div>
<ul>
    <li><button (click)="editarAlbum(album.id)">Editar Informações</button></li>
    <li><button (click)="cadastrarMusicas()">Cadastrar Musicas</button></li>
    <li><button (click)="removerAlbum()">Excluir album</button></li>
</ul>
<br>
<div class="tableGeral">
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th># Título</th>
        <th># Artista</th>
        <th># Álbum</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let musica of musicas; let i = index">
        <tr [ngClass]="{ 'cor-diferente': i % 2 == 0 }">
          <td class="album-capa">
            <img src="{{musica.capaAlbum}}" alt="">
          </td>
          <td>
            <p>{{musica.titulo}}</p>
          </td>
          <td>{{musica.artistaNome}}</td>
          <td>{{musica.tituloAlbum}}</td>
          <td class="opcoes-header">
            <div class="opcoes-wrapper">
              <div class="dropdown">
                <button class="dropbtn"><span class="material-icons">more_vert</span></button>
                <div class="dropdown-content">
                  <li href="#"><span class="material-icons">playlist_add</span>Adicionar a uma playlist</li>
                  <li (click)="editarMusica(musica.id)"><span class="material-icons">edit_note</span>Editar informações</li>
                  <li (click)="removerMusica(musica.id)"><span class="material-icons">highlight_off</span>Remover música</li>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>